input:checked + span {
  background-color: #22c55e;
}

input:checked + span:before {
  transform: translateX(26px);
}

span:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}